body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App-link {
    color: #61dafb;
}

.navbar {
    width: 100%;
    border-bottom: 1px solid rgba(209, 209, 209, 0.551);
}

.nav-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.upper-container {
    background-color: #000000;
    padding: 8px 0px;
}

.middle-container {
    justify-content: space-between;
}

.logo-img {
    width: 10%;
    margin-left: 2rem;
}

.nav-heading {
    width: 13%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-right: 2rem;

}

li {
    list-style: none;
}

.lower-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-size: 1rem;
    font-weight: 650;
}

.detail {
    width: 25rem;
    margin: 2rem auto;
}

.detail>h1 {
    font-weight: 500;
    text-transform: uppercase;
}

.dashboard {
    width: 100%;
}

.dashboard-menu {
    border-bottom: 1px solid rgba(160, 160, 160, 0.6);
    border-top: 1px solid rgba(160, 160, 160, 0.6);
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    padding: 1.3rem 0;
}

.dashboard-menu>div {
    font-weight: 600;
    text-transform: uppercase;
}

.show-hide {
    margin-left: 3rem;
    opacity: 0.5;
    font-weight: 400;
}

.dashboard-content {
    margin: 1rem 3rem;
    display: flex;
    gap: .5rem;
}

.dashboard-filters {
    width: 25%;

}

.filter-content {
    margin-top: 1rem;
}

.filter-content>span:first-child, .customize {
    font-size: 14px;
    font-weight: 550;
    text-transform: uppercase;
}

.filter-content>span:last-child {
    font-size: 12px;
    text-transform: capitalize;
    display: block;
}

.filter-content>svg {
    margin-right: 1rem;
    float: right;
}

.filter-checkbox {
    margin-top: .5rem;
    font-size: 12px;
}

.clear-btn {
    border: none;
    padding: 1rem 0;
    background-color: transparent;
    text-decoration: underline;
    text-transform: capitalize;
    cursor: pointer;
    color: rgba(126, 126, 126, 0.795);
}


/* dashboard product module start from here  */
.dashboard-toggle{
    width: 100%;
}

.dashboard-notoggle{
    width: 75%;
}
.dashboard-products {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin:1rem 0;

}

.toggle-product{
    width: 21%;
}
.single-product {
    width: 30%;
}

.item-image{
    
        width: 100%;
        display: flex;
        justify-content: center;
        aspect-ratio: 1;

}

.item-image > img{
    width: 60%;
}


.item-details {
    position: relative;
}

.wishlist {
    position: absolute;
    right: 0;
    top: 0;
}

.item-details>h4 {
    font-size: 17px;
}

.item-details>p {
    font-size: 13px;
}